<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <match filespec="*.resx">
    <generator debug="false">
      <execute exe="$(CmdToolDir)CSharpTest.Net.Generators.exe" />
      <arg value="ResX"/>
      <arg value="-input=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-class=$(ClassName)"/>
      <arg value="-public=false"/>
      <arg value="-partial=true"/>
      <arg value="-test=true"/>
      <arg value="-rxns=$(DefaultNamespace)"/>
      
      <std-output extension=".Designer.cs"/>
    </generator>
  </match>
<!--
CmdTool - Variable replacement help:

General formatting:
$(VARIABLE) = will be replaced with the variable from the list below
$(VARIABLE:xxx=yyy) = will be replaced with the variable from the list below,
                      replacing the literal string 'xxx' with the substitution
                      value of 'yyy'
$(VARIABLE:xxx=yyy:aaa=bbb) = will be replaced with the variable from the list
                      below, replacing the literal string 'xxx' with the
                      substitution value of 'yyy' and again replacing 'aaa'
                      with 'bbb'
					  
EXAMPLE VARIABLES DEFINED:

CmdToolDir 			= Full path to the location CmdTool.exe is running from
ConfigDir 			= Full path to the containing configuration file

SolutionDir 		= The fully qualified directory to the solution folder if found
PackageDir 			= The fully qualified directory to the 'packages' folder if found

ProjectDir 			= The fully qualified directory of the containing project
ProjectFileName 	= The file name and extension of the containing project
ProjectPath			= The fully qualified path to the containing project file
ProjectExt 			= The project extension, usually '.csproj'
ProjectName 		= The name of the project file without extension
RootNamespace 		= The root namespace defined in the project

InputDir 			= The fully qualified path to the directory containing the input file
InputName 			= The file name and extension of the input file
InputPath 			= The fully qualified path to the input file
PseudoPath 			= The fully qualified path to where a linked project item 'appears' to be

DefaultNamespace 	= The default namespace based on project and file location
Namespace 			= Either the default namespace, or the custom tool namespace if defined
ClassName 			= 'Example4' A C# friendly class name derived from the file name

OutputType 			= 'Library'
TargetFrameworkProfile = ''
TargetFrameworkVersion = 'v2.0'
TargetExt 			= '.dll'
TargetName 			= The assembly name or output file name of the project without extension
TargetFileName 		= The assembly name or output file name of the project

-->
</CmdTool>
