<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <match filespec="*.resx">
    <generator debug="false">
      <execute exe="$(CmdToolDir)CSharpTest.Net.Generators.exe" />
      <arg value="ResX"/>
      <arg value="-input=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-class=$(ClassName)"/>
      <arg value="-public=false"/>
      <arg value="-partial=true"/>
      <arg value="-test=true"/>
      <arg value="-rxns=$(DefaultNamespace)"/>
      
      <std-output extension=".Designer.cs"/>
    </generator>
  </match>
</CmdTool>