<?xml version="1.0" encoding="utf-8" ?>
<!--
CmdTool.config

You can run this generator by assigning a project item the custom generator of "CmdTool" in the Properties pane.
Once you've done this there are three ways to invoke the code-generation:

1. Simply edit the original file and save it, Visual Studio will then run the generator
2. Right-click the item in Visual studio and select "Run Custom Tool"
3. From the command-line run the following: CmdTool.exe build <Project file.csproj>

Once code generation begins, CmdTool will start at the source file's directory and search up the directory tree.
foreach file named "CmdTool.config" it finds it will load the configuration below and merge it into the results.
Finally CmdTool will load it's own CmdTool.exe.config and, if the section CmdTool is defined, merge it as well.

Once all configurations are merged it will begin attempting to match the original source file against all the 
patterns defined in the filespec attribute of the root match tags.  This set of match tags is then walked and
will be excluded if the following conditions are met: a) there are one or more applies-to tags defined, and b) 
the input source is not contained in any of the directories defined by one of the applies-to tags. These folders
are evaluated as relative to the configuration file they are defined within.

This final subset defines the collection of generators that will be applied to the input source file.  
-->
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- The match is evaluated against the input file, use '*' or '?' for wild-cards -->
  <match filespec="*.test">
    <!-- applies if in one of the following directories relative to this configuration file -->
    <applies-to folder="c:\projects"/>
    <applies-to folder="."/>
    <!-- 
    A generator, one or more can be defined.  You may set debug=true for more verbose output including
    the modified script/file and arguments.  This will only be displayed on the console if you do not
    provide the '/quiet' option.  Use '/verbose' to produce the same effect on the command-line.
    -->
    <generator debug="false">
      <!-- 
      The type of executable can be either a script or an execute tag.  For either, the contents may
      include variables via the nmake macro expansion syntax '$(xxx)' see help-vars for more info.
      The script may be inline as shown here, or may be included from an external source via the 
      'src=' attribute.  If the src attribute is defined the contents of the script block will not
      be used.  The path provided in the src attribute is again relative to this configuration file.
      Please be aware that scripts included via the attribute will not have variables replaced in
      their content.
      
      Common input variables:
      $(Namespace) - The namespace that should be used by the tool
      $(ClassName) - The classname derived from the file name as a valid identifier
      $(InputPath) - The fully qualified input file name to generate from
      $(InputDir)  - The qualified directory name for the input file
      $(InputName) - The file name and extension of the input file
      $(ConfigDir) - The directory where the configuration was loaded, also the working directory
      -->
      <script type="JScript">
        try {
        WScript.StdOut.WriteLine("// Generated from input:  " + WScript.Arguments(0));
        WScript.StdOut.Write(WScript.StdIn.ReadAll());
        }
        catch(e) {
        WScript.StdErr.Write(e.message);
        WScript.Quit(1);
        }
      </script>
      <!-- Provides one or more additional command-line arguments, this specifies the input file -->
      <arg value="$(inputPath)"/>
      <!-- Redirect the spawned process' std::in to read the input source file's content -->
      <std-input redirect="true"/>
      <!-- Optional, redirect std::out to a file with this extension -->
      <std-output extension=".JScript.cs"/>
      <!-- One or more files that the above program might generate -->
      <output extension=".missing.cs"/>
    </generator>
    <generator>
      <!-- Demonstrates generating multiple files and not using std::out -->
      <script type="Cmd">
        Echo // generated from source: %~1 > %2
        Echo // generated from source: %~1 > %3
      </script>
      <arg value="$(inputpath)"/>
      <arg value="$(inputpath:.test=.test1.cs)"/>
      <arg value="$(inputpath:.test=.test2.cs)"/>
      <output extension=".test1.cs"/>
      <output extension=".test2.cs"/>
    </generator>
    <generator>
      <!-- 
      Executables may use environment variables, or be found in the local %PATH% or current directory.
      Additionally, as with other paths, they can be a relative path to this configuration file.
      -->
      <execute exe="%SystemRoot%\system32\Cmd.exe"/>
      <arg value="/c"/>
      <arg value="@Echo // Generated from input: $(inputPath)"/>
      <std-output extension=".Exec.cs"/>
    </generator>
  </match>
</CmdTool>